---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/product-film-processing.jpg"
>
	<p>
		I got into film photography when time was bad. In 2010 when I started, film was thought to be dead soon from its decline since the early 2000.
		I quickly proceeded to developing my own b&w film and even as I was having easy access to chemicals (Kodak and Ilford), I was constantly worrying
		about the day that chemicals and even films are no longer produced. That would mean the end to my newfound passion.
	</p>

	<p>
		Having a chemical engineering background proved to be an advantage. Before long, I found myself mixing my own chemicals for black and white film processing.
		I got into enlarging as well, and oh boy, that was seriously fun and yet chemical-consuming hobby. It got me deeper into mixing my own developers and fixers.
		I experimented with many developers, both commercially available and those with only a supposedly-correct formula floating on the internet at the time.
		I was on the quest to find a developer that could be many things at once:
	</p>
	<ol type='1'>
		<li>Easy to use.</li>
		<li>Easy (enough) to make.</li>
		<li>Great keeping property. Ideally years.</li>
		<li>Fine grains.</li>
		<li>Good contrast, and yet not prone to blowing out highlights.</li>
	</ol>
	</p>

	<p>
		The task was, at some point, thought impossible. Engineering is all about trade-offs, and I could not achieve everything at the same time. It was, by luck,
		that I was given "The developing cookbook" by Steve Anchell in which he discussed at length about staining developers. I was intrigued. In the same book, I found
		the formular for 510-pyro. I cooked some up to try and I was blown away. It was everything I wanted.</br>


	</p>

	<p>
		Since then I have been making and using almost exclusively 510-pyro, and Rodinal when some degree of graininess is desired. They are both liquid developers.
		They both keep for a long time. They are both used as single-shot developers (so I don't have to manage uncertainty coming from re-use or replenishment).

	</p>

	<p>
		Also since then I have been innovating and made some proprietary developers and fixers for my own use and also for commercialisation under ZoneImaging brand.
		But 510-pyro stuck around for its obvious advantage. 
	</p>

	<p>
		And now I've opened my own shop to offer 510-pyro and other chemicals to you so you could enjoy them as I did.</br>
		Thanks for reading and I hope you will find joy in the journey of photo-making the traditional way.
	</p>
</Layout>
