---
// filepath: d:\Projects\Shopthuocfilm\shopthuocfilmgithub\src\pages\index.astro
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/products" />
    <script>window.location.href = "/products";</script>
  </head>
  <body>
    <p>Redirecting to <a href="/products">/products</a>...</p>
  </body>
</html>